apiVersion: dynatrace.com/{{ .Values.apiVersion }}
kind: DynaKube
metadata:
  name: {{ include "dynakube.fullname" . }}
  labels:
    {{- include "dynakube.labels" . | nindent 4 }}
spec:
  apiUrl: {{ .Values.apiUrl | required "missing apiUrl" }}
  tokens: {{ .Values.tokens | default (include "dynakube.fullname" .) }}
{{- with .Values.oneAgent }}
  oneAgent: {{ . | toYaml | nindent 4 }}
{{- end }}
{{- with .Values.activeGate }}
  activeGate: {{ . | toYaml | nindent 4 }}
{{- end }}
{{- with .Values.metadataEnrichment }}
  metadataEnrichment: {{ . | toYaml | nindent 4 }}
{{- end }}
{{- with .Values.templates }}
  templates: {{ . | toYaml | nindent 4 }}
{{- end }}
  enableIstio: {{ .Values.enableIstio }}
  skipCertCheck: {{ .Values.skipCertCheck }}
